---
title: Morgante Pell
---

<p>I'm a technical entrepreneur from the <a href="http://www.flickr.com/photos/7355435@N04/503504203/in/photostream/">green mountains</a> of <a href="http://en.wikipedia.org/wiki/Vermont">Vermont</a>.
Currently, I help enterprises adopt DevOps at <a href="https://www.cloud.google.com">Google Cloud</a>.
You might know me from <a href="http://www.somespider.com">Some Spider</a>, <a href="http://businessinsider.com">Business Insider</a>, <a href="http://nyuad.nyu.edu">NYU Abu Dhabi</a>, <a href="http://www.getgandalf.com/">Gandalf</a>, or <a href="http://hackny.org/">hackNY</a>.</p>

<h4>You can find me on:</h4>
<ul class="elsewhere">
	<li class="github"><a href="http://github.com/morgante">GitHub</a></li>
	<li class="twitter"><a href="http://twitter.com/morgantepell">Twitter</a></li>
	<li class="facebook"><a href="http://facebook.com/morgante">Facebook</a></li>
	<li class="linkedin"><a href="http://www.linkedin.com/in/morgante">LinkedIn</a></li>
</ul>
